dbt-core==1.7.19
dbt-snowflake==1.7.2
sqlfluff==3.0.3
sqlfluff-templater-dbt==3.0.3
data-diff[snowflake,oracle]==0.9.17
pre-commit==3.5.0
shandy-sqlfmt[jinjafmt]
sqlglot==25.5.0
streamlit
snowflake-connector-python